<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Devour time!{{else}}Do not devour me yet!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">Devour!</button>
</li>
